@charset "UTF-8";


*{
    margin: 0px;
    padding: 0px;
}

html,body{
    height: 100vh;
    width: 100vw;
    background-color: black;
}

body{
    background: url(../imagens/fundo-madeira.jpg) no-repeat  center top;
    background-size: cover;
    background-attachment: fixed;
}

main{
    position: relative;
    height: 100vh; 
}

#telefone{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    height: 454px;
    width: 225px;
    background: url('../imagens/frame-iphone-novo.png') no-repeat;

}


#frame{
    position: relative;
    top: 58px;
    left: 16px;
    width: 194px;
    height: 341px;
}

#redes-sociais {
    display: flex;
    flex-direction: column;
    text-align: right;
} 

img{
    border-radius: 50%;
    width: 70px;
    height: 70px;
    box-shadow: 2px 2px 5px rgb(0, 0, 0, 0.400);
    margin-top: 20px;
    margin-right: 15px;
    box-sizing: border-box;
}

img:hover{
    border: 4px solid rgba(255, 255, 255, 0.815);
    transition: 0.3s, border 0.1s;
    transform: translate(-2px, -2px);
    box-shadow: 5px 5px 10px rgb(0, 0, 0, 0.400);
}


